node_modules/
__pycache__/
*.pyc
.env
frontend/dist/
postgres_data/
.venv/
.pytest_cache/
*.log
*.db
*.tsbuildinfo
.vscode/
.claude/skills/ui/SKILL.md
.claude/skills/ui-ux-pro-max/SKILL.md
.claude/skills/ui-ux-pro-max/data/charts.csv
.claude/skills/ui-ux-pro-max/data/colors.csv
.claude/skills/ui-ux-pro-max/data/icons.csv
.claude/skills/ui-ux-pro-max/data/landing.csv
.claude/skills/ui-ux-pro-max/data/products.csv
.claude/skills/ui-ux-pro-max/data/react-performance.csv
.claude/skills/ui-ux-pro-max/data/styles.csv
.claude/skills/ui-ux-pro-max/data/typography.csv
.claude/skills/ui-ux-pro-max/data/ui-reasoning.csv
.claude/skills/ui-ux-pro-max/data/ux-guidelines.csv
.claude/skills/ui-ux-pro-max/data/web-interface.csv
.claude/skills/ui-ux-pro-max/data/stacks/astro.csv
.claude/skills/ui-ux-pro-max/data/stacks/flutter.csv
.claude/skills/ui-ux-pro-max/data/stacks/html-tailwind.csv
.claude/skills/ui-ux-pro-max/data/stacks/jetpack-compose.csv
.claude/skills/ui-ux-pro-max/data/stacks/nextjs.csv
.claude/skills/ui-ux-pro-max/data/stacks/nuxt-ui.csv
.claude/skills/ui-ux-pro-max/data/stacks/nuxtjs.csv
.claude/skills/ui-ux-pro-max/data/stacks/react-native.csv
.claude/skills/ui-ux-pro-max/data/stacks/react.csv
.claude/skills/ui-ux-pro-max/data/stacks/shadcn.csv
.claude/skills/ui-ux-pro-max/data/stacks/svelte.csv
.claude/skills/ui-ux-pro-max/data/stacks/swiftui.csv
.claude/skills/ui-ux-pro-max/data/stacks/vue.csv
android-app/KePedimos-1.0.1-release-standalone.apk
android-app/KePedimos-1.0.2-release-standalone.apk
android-app/KePedimos-1.0.3-release-standalone.apk
android-app/KePedimos-1.0.4-release-standalone.apk
android-app/KePedimos-1.0.5-release-standalone.apk
android-app/KePedimos-1.0.6-release-standalone.apk
android-app/KePedimos-1.0.7-release-standalone.apk
android-app/KePedimos-1.0.8-release-standalone.apk
android-app/KePedimos-release-standalone.apk
android-app/KePedimos-1.0.9-release-standalone.apk
android-app/KePedimos-1.0.12-release-standalone.apk
android-app/KePedimos-1.0.13-release-standalone.apk
android-app/KePedimos-1.0.14-release-standalone.apk
android-app/KePedimos-1.0.15-release-standalone.apk
android-app/KePedimos-1.0.16-release-standalone.apk
android-app/KePedimos-1.0.17-release-standalone.apk
